Source: netrunner-wallpapers
Section: kde
Priority: optional
Maintainer: Leszek Lesner <leszek@zevenos.com>
Build-Depends: debhelper (>= 9), pkg-kde-tools (>= 0.9.2ubuntu14)
Standards-Version: 3.9.4

Package: netrunner-wallpapers
Architecture: all
Depends: ${misc:Depends}
Description: Set of Wallpapers for 
 This package contains additional wallpapers used by Netrunner.
 
Package: netrunner-default-wallpaper
Architecture: all
Depends: ${misc:Depends}, netrunner-settings-desktop
Description: Set of Wallpapers for 
 This package contains the default wallpaper used by Netrunner.
